{% extends 'flatpages/default.html' %}

{% block title %}
detail
{% endblock title %}

{% block content %}
   <h1>{{ detail.title }}</h1>
<a href="{% url 'comment_create' %}"> Оставить комментарий | </a>
 {% if detail %}
       <table>
           <tr>
               <td> <h4><strong>Заголовок&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong></h4> </td>
               <td> <h4><strong>Текст статьи&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong></h4> </td>
           </tr>

           <tr>
               <td> {{ detail.title }} </td>
               <td> {{ detail.text }} </td>
           </tr>
       </table>
{% else %}
       <h2>Такой статьи нет!</h2>
{% endif %}

{% endblock content %}